GOOGLE_CLIENT_ID=

APP_URL=

# TODO: You must set this to https://api.yieldvest.app unless you have the
# backend running locally of course
NEXT_PUBLIC_API_URL=

# Yeah, set these too :)
# Feel free to change them if your local values are different
NEXT_PUBLIC_LOW_MARKET_CAP_CATEGORY_ID=low_market_cap_category
NEXT_PUBLIC_HIGH_MARKET_CAP_CATEGORY_ID=high_market_cap_category
NEXT_PUBLIC_MID_MARKET_CAP_CATEGORY_ID=mid_market_cap_category

# Google Analytics Measurement ID
GA_MEASUREMENT_ID=