anyio
click
colorama
fastapi
fastapi-utils
greenlet
h11
idna
Mako
MarkupSafe
mysql-connector-python
protobuf
pydantic
python-decouple
python-dotenv
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
httpx
