

     @media screen and (min-width:  320px) and (max-width: 768px) {
        .theLeftSide{
            position: relative;
            min-width: 65%;
            background-color: red;

            }

            .completePayment{
                font-size: 20px;
            }

            .theFaqHolder{

                    position: absolute;
                    top: 40em;

            }

            .theRightSide{
                min-width: 65%;
                background-color: green;
            }
     }

     