@media screen and (min-width: 320px) and (max-width: 768px) {
    .BasicSubHolder {
        position: relative;
        border: 1px solid rgba(141, 141, 141, 0.5);
    }


    .theListing {
        border-top-left-radius: 8px;
        border-top-color: 1px solid rgba(141, 141, 141, 0.5);
        border-top: 1px solid rgba(141, 141, 141, 0.5);
        border-top-right-radius: 5px;
        padding-top: 35px;
    }
    .topContentHolder {
        position: relative;
    }

    .curlySpring {
        position: absolute;
        top: 1em;
        left: 18em;
    }
}

.topContentHolder {
    position: relative;
}

.curlySpring {
    position: absolute;
    top: 5em;
    right: 25em;
}
