@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Hauora-Bold";
  src: url("fonts/otf/Hauora-Bold.otf");
  src: url("fonts/ttf/Hauora-Bold.ttf") format("truetype"),
    url("fonts/web/Hauora-Bold.woff2") format("woff2"),
    url("fonts/web/Hauora-Bold.woff") format("woff");
}

@font-face {
  font-family: "Hauora-Regular";
  src: url("fonts/otf/Hauora-Regular.otf");
  src: url("fonts/ttf/Hauora-Regular.ttf") format("truetype"),
    url("fonts/web/Hauora-Regular.woff2") format("woff2"),
    url("fonts/web/Hauora-Regular.woff") format("woff");
}

@font-face {
  font-family: "Hauora-Light";
  src: url("fonts/otf/Hauora-Light.otf");
  src: url("fonts/ttf/Hauora-Light.ttf") format("truetype"),
    url("fonts/web/Hauora-Light.woff2") format("woff2"),
    url("fonts/web/Hauora-Light.woff") format("woff");
}
.accordian_open {
  @apply text-white text-[20px] border border-b-0 border-[#0B5934] rounded-b-[0px] bg-[#0B5934];
}
.policy_card_reverse {
  @apply max-sm:rounded-t-[24px] sm:rounded-l-[24px] md:rounded-l-[24px] h-full;
}
.policy_card_div_reverse {
  @apply flex max-sm:flex-col-reverse max-md:flex-row mt-10 bg-white max-sm:rounded-t-[24px] sm:rounded-[24px] md:rounded-[24px] max-md:items-center;
}
.policy_card_div {
  @apply flex max-sm:flex-col max-md:flex-row mt-10 bg-white max-sm:rounded-t-[24px] sm:rounded-[24px] md:rounded-[24px] max-md:items-center;
}

.policy_card {
  @apply max-sm:rounded-t-[24px] sm:rounded-r-[24px] md:rounded-r-[24px] h-full;
}
.policy_card_text_reverse {
  @apply text-left p-3 mb-6 max-md:text-center max-md:p-5 pl-20 self-center order-2;
}
.policy_card_text {
  @apply text-left p-3 mb-6 pr-20 max-md:text-center max-md:p-5 self-center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../assets/index/drop.svg") 96% /15% no-repeat;
  outline: none;
  border-color: 2px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

