@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hauora-Bold';
    src: url('fonts/otf/Hauora-Bold.otf');
    src: url('fonts/ttf/Hauora-Bold.ttf') format('truetype'),
        url('fonts/web/Hauora-Bold.woff2') format('woff2'),
        url('fonts/web/Hauora-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Hauora-Regular';
    src: url('fonts/otf/Hauora-Regular.otf');
    src: url('fonts/ttf/Hauora-Regular.ttf') format('truetype'),
        url('fonts/web/Hauora-Regular.woff2') format('woff2'),
        url('fonts/web/Hauora-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Hauora-Light';
    src: url('fonts/otf/Hauora-Light.otf');
    src: url('fonts/ttf/Hauora-Light.ttf') format('truetype'),
        url('fonts/web/Hauora-Light.woff2') format('woff2'),
        url('fonts/web/Hauora-Light.woff') format('woff');
}
