/* @media screen and (min-width: 320px) and (max-width: 768px) {
    .theLeftSide {
        position: relative;
    }

    .upperLeftSide {
        position: absolute;
        top: -2em;
    }

    .theFaqHolder {
        position: absolute;
        top: 37em;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mainHolder {
        position: relative;
    }
    .theRightSide {
        position: absolute;
        top: 5em;
    }

    .footerHolder {
        margin-top: 57em;
    }
} */


.FormGroup{
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    will-change: opacity, transform;
    border-radius: 4px;

}

.FormRow{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
}

.StripeElement--webkit-output{
    background: transparent !important;
}

.StripeElement{
    width: 100%;
    padding: 11px 15px 11px 0;
}

