.news__page-container {
    padding: 2rem;
    background: #cecccc;
    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 0.4rem;
        @media (max-width: 550px) {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
    }
    .main__body-container {
        margin-top: 3rem;
        button {
            width: 146px;
            height: 40px;
            left: 648px;
            top: 1979px;
            color: white;
            margin: auto;
            display: block;
            background: #1bd47b;
            border-radius: 4px;
        }
    }

    .main__body {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2%;
        @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
