.topNews__section {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    // flex-wrap: wrap;
    @media (max-width: 550px) {
        flex-direction: column;
    }
}
.topNews__second {
    height: 500px;
    background: #ffffff;
    border-radius: 8px;

    @media (max-width: 550px) {
        margin: 1rem 0;
        height: auto;
    }
    img {
        width: 100px;
        height: 81px;
        object-fit: cover;
        border-radius: 8px;
    }
    .icon_span {
        display: flex;
        align-items: center;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        padding: 0.5rem;
        color: #1bd47b;
        @media (max-width: 550px) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
.topNews__second aside p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    @media (max-width: 550px) {
        font-size: 9.68006px;
        line-height: 10px;
    }
}

.top__news {
    background: #ffffff;
    border-radius: 8px;
    flex-basis: 70%;
    img {
        width: 174px;
        height: 141px;
        object-fit: cover;
        border-radius: 8px;
        @media (max-width: 550px) {
            width: 100px;
            height: 81px;
        }
    }
    .icon_span {
        display: flex;
        align-items: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        padding: 0.5rem;
        line-height: 33px;
        color: #1bd47b;
        @media (max-width: 550px) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
.top__news-first {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    align-self: start;
    gap: 2%;
    border: 1px solid #e0e2e5;
    aside:nth-child(1) {
        flex-basis: 70%;
        @media (max-width: 550px) {
            flex-basis: 60%;
        }
    }
    aside:nth-child(2) {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        align-items: center;
        @media (max-width: 550px) {
            flex-basis: 30%;
        }
    }
    aside p {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #66717e;
        margin: 0.3rem 0;
        @media (max-width: 550px) {
            font-size: 9.68006px;
            line-height: 10px;
        }
    }
    aside h3 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #1b1105;
        @media (max-width: 550px) {
            font-size: 8.35007px;
            line-height: 13px;
        }
    }
}
.top-components {
    height: auto;
    aside h3 {
        font-size: 16px;
        @media (max-width: 550px) {
            font-size: 8.35007px;
            line-height: 13px;
        }
    }
}
.flex__item {
    display: flex;
    gap: 2%;
    align-items: center;
    background-color: white;

    aside:nth-child(1) {
        flex-basis: 20%;
        margin: 1rem;
        img {
            width: 288px;
            height: 233px;
            @media (max-width: 550px) {
                width: 87.09px;
                height: 70.54px;
                border-radius: 3.34003px;
            }
        }
    }
    aside:nth-child(2) {
        flex-basis: 80%;
        @media (max-width: 550px) {
            flex-basis: 65%;
        }
        h3 {
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            color: #1b1105;
            @media (max-width: 550px) {
                font-size: 12.1926px;
                line-height: 19px;
                color: #1b1105;
            }
        }
        p {
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            color: #66717e;
            @media (max-width: 550px) {
                font-size: 12.1926px;
                line-height: 19px;

                color: #66717e;
            }
        }
    }
}
.usable__container {
    padding: 1rem;
    .top__span {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #000000;
        @media (max-width: 550px) {
            font-size: 16px;
            line-height: 24px;

            color: #000000;
        }
    }
}
.main__body-btn {
    width: 146px;
    height: 40px;
    left: 648px;
    top: 1979px;
    color: white;
    margin: auto;
    display: block;
    background: #1bd47b;
    border-radius: 4px;
}
